/*default*/

	body {
		font-family: 'Space Mono', sans-serif;
		letter-spacing: 0px;
		background: #000;
		color: #fff;
		margin: 0;
	}

	a {
		color: #fff;
		text-decoration: none;
		/*opacity: 0.8;*/
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
		/*padding-bottom: 1px;*/
		border-bottom: 2px solid rgba(255,255,255,0.1);
		cursor: pointer;
	}

	.FullLinkTile {
		position: absolute;
		top: 0;
		left: 0;
		right:0;
		bottom: 0;
		z-index: +999;
		/*width: 100%;
		height: 100%;*/
	}

	a.fill {
		border: none;
		padding: 10px 25px;
		color: #78FFF4;
		border-radius: 430px;
		border: 2px solid #78FFF4;
		line-height: 3.6em;
	}

	#home .project a {
		/*border-bottom: none;*/
		color: #78FFF4;
		/*padding-bottom: 4px;*/
		font-size: 20px;
		/*font-weight: 700;*/
	}

	.project-details-page .info ul li a, .project-details-page .modal a {
		border-bottom: none;
		text-decoration: underline;
	}

	.center-text {
		text-align: center;
	}

	/*a::after {
		font-family: FontAwesome;
		content: "\f105";
		padding-left: 7px;
		font-size: 0.9em;
	}*/


	/*#home .project a:hover {
		border-bottom: 2px solid rgba(255,255,255,0.3);
	}*/

	audio {
    	filter: sepia(20%) saturate(70%) grayscale(1) contrast(101%) invert(100%);
    	width: 100%;
    	outline-width: 0;
	}

	* {
		box-sizing: border-box;
	}

	h1 {
		/*font-family: 'Space Mono', monospace;*/
		font-size: 6em;
		line-height: 1.2em;
	}

	ul {
		list-style: none;
		padding-left: 15px;
		line-height: 1.6em;
	}

	ul li{
		padding-bottom: 12px;
	}

	ul li::before {
		font-weight: bold;
		display: inline-block;
		width: 0.8em;
		margin-left: -0.8em;
		font-size: 20px;
		color: #00F3D9;
		content: "\25AA";
	}

	ul.decimal {
		list-style: decimal;
	}

	/*.name {
		font-size: 16px;
		text-transform: uppercase;
		letter-spacing: 2px;
	}*/

	.linkgap {
		display: inline-block;
		width: 30px;
	}

	.project h1 {
		margin: 10px 0;
	}

	.container {
		position: relative;
		width: 100%;
		max-width: 1400px;
		margin: 0 auto;
		/*padding: 0 15px;*/
	}

	.col {
		width: 100%;
		padding-right: 30px;
	}

	.clear {
		float: none !important;
		clear: both;
	}
	.sfont{
		font-size: 14px;
	}

/*modal*/

	.modal, .mob-nav{
		position: fixed;
		z-index: 99999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: none;
	}
	.modal {
		z-index: 99999;
	}

	.modal.open {
		display: block;
	}

	.modal-overlay, .mob-nav-overlay {
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.7);
	}

	.modal-content {
		/*text-align: center;*/
		position: absolute;
		z-index: 2;
		top: 50%;
		left: 50%;
		-moz-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		width: 100%;
		max-width: 600px;
		/*padding: 30px 30px 15px;*/
		border-radius: 10px;
		background: #000;
		border: 2px solid rgba(255,255,255,0.1);
	}

	.modal-inputs {
		padding: 30px 0;
	}

	.modal-text {
		margin: 40px 0;
	}

	.modal .img-tile {
		width: 100%;
		padding-top: 100%;
		cursor: auto;
		margin: 0;
		border-radius: 0;
		border-left:  none;
		border-right:  none;
	}

	.tile-content {
		display: none;
	}

	.modal .tile-content p {
		padding: 0 25px 10px;
	}

	.modal .close-btn {
		padding: 30px 20px;
		margin:0;
	}

/*sorting*/

		.sort {
			/*overflow-x: scroll;*/
			margin: 10px -30px 20px;
			padding: 10px 0;
		}

		.sorting-group {
			padding: 0 20px;
			width: 100%;
			max-width: 1110px;
		}

		.sorting-group span, .border-link {
			display: inline-block;
			position: relative;
			padding: 8px 20px;
			margin: 5px 3px;
			border-radius: 30px;
			border: 2px solid rgba(255,255,255,0.1);
			cursor: pointer;
			font-size: 18px;
		}

		.sorting-group span:hover {
			border: 2px solid rgba(255,255,255,0.3);
		}

		.sorting-group span.is-checked {
			border: 2px solid rgba(255,255,255,0);
			background: #333;
		}

		.prevnext {
			position: absolute;
			top: 0;
			right: 0;
			padding: 18px 23px;
		}

		.prevnext .prevbtn, .prevnext .nextbtn {
			display: inline-block;
			background: transparent !important;
			cursor: pointer;
			width: 15px;
			height: 15px;
			border: 2px solid rgba(255,255,255, 0.5);
			-moz-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
			-webkit-touch-callout: none; 
    		-webkit-user-select: none; 
     		-khtml-user-select: none; 
       		-moz-user-select: none; 
        	-ms-user-select: none; 
            user-select: none;
		}

		.prevnext .prevbtn {
			border-right: none;
			border-top: none;
			margin-right: 8px;
		}

		.prevnext .nextbtn {
			border-left: none;
			border-bottom: none;
		}

/*nav*/

	/*mob nav*/

		.mob-nav.open-mob-nav {
			display: block;
		}

		.mob-nav a {
			display: block;
			border-bottom: none;
			line-height: 2em;
		}

		.mob-nav h2{
			font-size: 24px;
			margin: 20px 0 5px;
		}

		.mob-nav-content {
			/*line-height: 2.2em;*/
			position: absolute;
			z-index: +99;
			left: 0;
			top: 0;
			bottom: 0;
			background: #000;
			width: 100%;
			max-width: 300px;
			padding: 0 40px;
			opacity: 1;
			border-right: 2px solid rgba(255,255,255,0.1);
			animation-name: fadein;
			/*animation-delay: 2s;*/
  			animation-duration: 0.3s;
  			/*animation-iteration-count: infinite;*/
		}

		@keyframes fadein {
		  0% {opacity: 0;}
		  /*1% {transform: translateX(0);}
		  2% {transform: translateX(-3px);}
		  4% {transform: translateX(3px);}
		  5% {transform: translateX(0);}*/
		  100% {opacity: 1;}
		}

		.close-mob-nav {
			display: block;
			font-size: 22px;
			margin: 40px 0 30px;
		}

		.close-btn {
			cursor: pointer;
			position: relative;
			width: 20px;
			height: 15px;
			margin-bottom: 30px;
		}

		.close-btn span {
			position: absolute;
			top: 50%;
			-moz-transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
			width: 20px;
			height: 2px;
			/*margin: 5px 0;*/
			display: block;
			background: #fff;
			opacity: 0.5;
		}

		.open-mob-nav .close-btn span, .modal.open .close-btn span {
			-moz-transform: translateY(-50%) rotate(45deg);
			-webkit-transform: translateY(-50%) rotate(45deg);
			-o-transform: translateY(-50%) rotate(45deg);
			-ms-transform: translateY(-50%) rotate(45deg);
			transform: translateY(-50%) rotate(45deg);
		}

		.open-mob-nav .close-btn span:last-child, .modal.open .close-btn span:last-child {
			-moz-transform: translateY(-50%) rotate(-45deg);
			-webkit-transform: translateY(-50%) rotate(-45deg);
			-o-transform: translateY(-50%) rotate(-45deg);
			-ms-transform: translateY(-50%) rotate(-45deg);
			transform: translateY(-50%) rotate(-45deg);
		}

	.nav {
		position: fixed;
		z-index: 99;
		top:0;
		left: 0;

		cursor: pointer;
	}

	.nav-btn {
		margin:  40px;
	}

	.nav-btn span {
		width: 20px;
		height: 2px;
		margin: 5px 0;
		display: block;
		background: #fff;
		opacity: 0.5;
	}

	/*.scrolled .nav-btn span {
		background: #fff;
	}*/

	.logo {
		/*float: left;*/
		font-weight: 700;
	}

	#home .logo {
		margin-left: -8px;
	}

	a.logo {
		text-decoration: none;
		opacity: 1;
	}

	a.logo::before {
		display: none;
	}

	.menu {
		float: right;
	}



	/*.menu a {
		margin-left: 25px;
	}*/

/*projects*/

	/*default*/

		.work {
			position: relative;
			height: 100vh;
			width: 100%;
			perspective: 2px;
			scroll-behavior: smooth;
			overflow-x: hidden;
	  		overflow-y: auto;
			scroll-snap-type: y mandatory;
		}

		.deviceimg-container {
			position: absolute;
			z-index: -1;
			width: 350px;
			height: 350px;
    		left: 50%;
    		top: 40%;
			transform: translate(-25%, -50%);
		}

		#about .deviceimg-container {
    		left: 60%;
			top: 30%;
			transform: translate(-20%, -50%);
		}

		.deviceimg {
			position: absolute;
			left: 0;
			top: 0;
			width: 943px;
			height: 774px;
		}

		.mob-bg {
			position: absolute;
			z-index: -1;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 40%;
			background: #01FFEA;
			box-shadow: 0 0 90px #01FFEA;
			display: none;
			-moz-transform: skewY(20deg);
			-webkit-transform: skewY(20deg);
			-o-transform: skewY(20deg);
			-ms-transform: skewY(20deg);
			transform: skewY(20deg);
		}

		#about .deviceimg {
			z-index: -1;
			width: 851px;
			height: 1087px;
		}

		.deviceimg .prlximg {
			width: 70%;
			height: 70%;
		}

		.dollaramadevice {
			background: url("img/pdd.png");
			background-size: cover;
		}

		.watchpartydevice {
			background: url("img/pdw.png");
			background-size: cover;
		}

		.lilsitedevice {
			background: url("img/pdl.png");
			background-size: cover;
		}

		.project {
			overflow: hidden;
			position: relative;
			height: 100vh;
			width: 100%;
			scroll-snap-align: start;
		}

		.project::before {
			content: " ";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			opacity: 0;
			background: #000;
			z-index: -1;
		}

		.project::after {
			content: " ";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			-moz-transform: translateZ(-1px) scale(1.5);
			-webkit-transform: translateZ(-1px) scale(1.5);
			-o-transform: translateZ(-1px) scale(1.5);
			-ms-transform: translateZ(-1px) scale(1.5);
			transform: translateZ(-1px) scale(1.5);
			background-size: 100%;
			z-index: -2;
		}

		.project .container {
			height: 100%;
		}

		.text {
			position: absolute;
			width: 100%;
			max-width: 600px;
			top: 50%;
			left: 0;
			/*padding: 0 15px;*/
			-moz-transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
		}

		.text p {
			font-size: 24px;
			margin:40px 0;
			/*max-width: 460px;*/
		}

		.text .name {
			font-size: 20px;
			color: #777;
			font-weight: 700;
			letter-spacing: 10px;
			padding: 0px !important;
			margin-bottom: 20px;
			margin-top: 0px !important;
			text-transform: uppercase;
			/*display: none;
			opacity: 0;*/
		}

		.info {
			/*font-size: 14.5px;*/
			position: absolute;
			display: flex;
			width: 100%;
			bottom: 0;
			left: 0;
			padding: 50px 0;
			/*letter-spacing: 1px;*/
			line-height: 1.8em;
			/*opacity: 0.8;*/
			/*border-top: 2px solid rgba(255,255,255,0.2);*/
		}

		#home .info {
			display: none;
		}

		.fixed_info {
			width: 100%;
			position: fixed;
			z-index: 9;
			bottom: 0;
			background: #111;
		}

		.fixed_info .info {
			padding: 20px 0 !important;
		}

		.bts .info {
			/*text-align: right;*/
			position: relative;
			/*margin-top: 100px;
			border-top: none;
			border-bottom: 1px solid rgba(255,255,255,0.2);*/
		}

		.darkoverlay {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: -moz-linear-gradient(top,  rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.1) 25%, rgba(0,0,0,0.1) 75%, rgba(0,0,0,0) 100%);
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.1) 25%,rgba(0,0,0,0.1) 75%,rgba(0,0,0,0) 100%);
			background: linear-gradient(to bottom,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.1) 25%,rgba(0,0,0,0.1) 75%,rgba(0,0,0,0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#bf000000',GradientType=0 );
			opacity: 0;
		}

	/*home*/

		.project#about::after {
			background: url("img/aboutbanner.png") center;
			background-size: cover;
		}

	/*dollarama*/

		#dollarama::after {
			background: #121318;
			background: url("img/dollaramabanner.png") center;
			background-size: cover;
		}

		#dollarama ul {
			list-style: none;
		}

		#dollarama ul li::before {
			content: "\25AA";
			/*color: #C8AE75;*/
		}

		#dollarama.project-details-page {
			background: #121318;
		}

		#dollarama .deviceimg {
			background: url("img/dollaramadevice.png");
			background-size: cover;
		}

	/*watch party*/

		#watchparty::after {
			background: #121318;
			background: url("img/watchpartybanner.png") center;
			background-size: cover;
		}

		#watchparty ul {
			list-style: none;
		}

		#watchparty ul li::before {
			content: "\25AA";
			/*color: #00F3D9;*/
		}

		#watchparty .deviceimg {
			background: url("img/watchpartydevice.png");
			background-size: cover;
		}

	/*lil site*/

		#lilsite::after {
			background: #121318;
			background: url("img/lilsitebanner.png") center;
			background-size: cover;
		}

		#lilsite.project-details-page {
			background: #111;
		}

		#lilsite ul {
			list-style: none;
		}

		#lilsite ul li::before {
			content: "\25AA";
			/*color: #B41386;*/
		}

		#lilsite .deviceimg {
			background: url("img/lilsitedevice.png");
			background-size: cover;
		}

	/*archive*/

		#archives::after {
			background: #121318;
			background: url("img/archivebanner.png") center;
			background-size: cover;
		}

		#archives .deviceimg {
			background: url("img/archivedevice.png");
			background-size: cover;
		}

/*img tiles*/

	.img-tiles {
		width: 100%;
		max-width: 1400px;
		margin: 0 auto;
		padding: 0 30px;
	}

	.img-tile {
		display: inline-block;
		width: 29%;
		padding-top: 29%;
		background: #333;
		margin: 1%;
		border-radius: 10px;
		cursor: pointer;
		border: 2px solid rgba(255,255,255,0.1);
		transition: 0.3s all ease;
	}

	.img-tiles .img-tile:hover {
		opacity: 0.85;
		border: 2px solid rgba(255,255,255,0.3);
	}

	#aboutme .img-tiles .img-tile, #dollarama .img-tiles .img-tile, #watchparty .img-tiles .img-tile, #lilsite .img-tiles .img-tile {
		width: 30%;
		padding-top: 31%;
		margin: 1%;
	}

	.tile-1 .mc-1, .tile-2 .mc-2, .tile-3 .mc-3, .tile-4 .mc-4, .tile-5 .mc-5, .tile-6 .mc-6, .tile-7 .mc-7, .tile-8 .mc-8, .tile-9 .mc-9, .tile-10 .mc-10, .tile-11 .mc-11, .tile-12 .mc-12, .tile-13 .mc-13, .tile-14 .mc-14, .tile-15 .mc-15, .tile-16 .mc-16, .tile-17 .mc-17, .tile-18 .mc-18, .tile-19 .mc-19, .tile-20 .mc-20,
	.tile-21 .mc-21, .tile-22 .mc-22, .tile-23 .mc-23, .tile-24 .mc-24, .tile-25 .mc-25, .tile-26 .mc-26, .tile-27 .mc-27, .tile-28 .mc-28, .tile-29 .mc-29, .tile-30 .mc-30, .tile-31 .mc-31, .tile-32 .mc-32, .tile-33 .mc-33, .tile-34 .mc-34, .tile-35 .mc-35, .tile-36 .mc-36, .tile-37 .mc-37, .tile-38 .mc-38, .tile-39 .mc-39, .tile-40 .mc-40,
	.tile-41 .mc-41, .tile-42 .mc-42, .tile-43 .mc-43, .tile-44 .mc-44, .tile-45 .mc-45, .tile-46 .mc-46, .tile-47 .mc-47, .tile-48 .mc-48, .tile-49 .mc-49, .tile-50 .mc-50, .tile-51 .mc-51, .tile-52 .mc-52, .tile-53 .mc-53, .tile-54 .mc-54
	 {
		display: block;
	}

	/*about*/

		#aboutme .img-tile.tile-1, #aboutme .tile-1 .img-tile {
			background: url("websites/dollarama/img/pd/t8alt.png") center no-repeat;
			background-size: cover;
		}

		#aboutme .img-tile.tile-2, #aboutme .tile-2 .img-tile {
			background: url("img/archive/1.png") center no-repeat;
			background-size: cover;
		}

		#aboutme .img-tile.tile-3, #aboutme .tile-3 .img-tile {
			background: url("websites/lilsite/img/pd/t7alt.png") center no-repeat;
			background-size: cover;
		}

		#aboutme .img-tile.tile-4, #aboutme .tile-4 .img-tile {
			background: url("img/archive/5.png") center no-repeat;
			background-size: cover;
		}

		#aboutme .img-tile.tile-5, #aboutme .tile-5 .img-tile {
			background: url("img/archive/4.png") center no-repeat;
			background-size: cover;
		}

		#aboutme .img-tile.tile-6, #aboutme .tile-6 .img-tile {
			background: url("img/archive/3.png") center no-repeat;
			background-size: cover;
		}

		#aboutme .img-tile.tile-7, #aboutme .tile-7 .img-tile {
			background: url("img/archive/16.png") center no-repeat;
			background-size: cover;
		}

		#aboutme .img-tile.tile-8, #aboutme .tile-8 .img-tile {
			background: url("img/archive/30.png") center no-repeat;
			background-size: cover;
		}

		#aboutme .img-tile.tile-9, #aboutme .tile-9 .img-tile {
			background: url("img/archive/13.png") center no-repeat;
			background-size: cover;
		}

	/*watchparty*/

		#watchparty .img-tile.tile-1, #watchparty .tile-1 .img-tile {
			background: url("websites/watchparty/assets/pd/t1.png") center no-repeat;
			background-size: cover;
		}

		#watchparty .img-tile.tile-2, #watchparty .tile-2 .img-tile {
			background: url("websites/watchparty/assets/pd/t2.png") center no-repeat;
			background-size: cover;
		}

		#watchparty .img-tile.tile-3, #watchparty .tile-3 .img-tile {
			background: url("websites/watchparty/assets/pd/t3.png") center no-repeat;
			background-size: cover;
		}

		#watchparty .img-tile.tile-4, #watchparty .tile-4 .img-tile {
			background: url("websites/watchparty/assets/pd/t4.png") center no-repeat;
			background-size: cover;
		}

		#watchparty .img-tile.tile-5, #watchparty .tile-5 .img-tile {
			background: url("websites/watchparty/assets/pd/t5.png") center no-repeat;
			background-size: cover;
		}

		#watchparty .img-tile.tile-6, #watchparty .tile-6 .img-tile {
			background: url("websites/watchparty/assets/pd/t6.png") center no-repeat;
			background-size: cover;
		}

		#watchparty .img-tile.tile-7, #watchparty .tile-7 .img-tile,#archive .img-tile.tile-50, #archive .tile-50 .img-tile {
			background: url("websites/watchparty/assets/pd/t7.png") center no-repeat;
			background-size: cover;
		}

		#watchparty .img-tile.tile-8, #watchparty .tile-8 .img-tile {
			background: url("websites/watchparty/assets/pd/t8.png") center no-repeat;
			background-size: cover;
		}

		#watchparty .img-tile.tile-9, #watchparty .tile-9 .img-tile {
			background: url("websites/watchparty/assets/pd/t9.png") center no-repeat;
			background-size: cover;
		}

	/*lilsite*/

		#lilsite .img-tile.tile-1, #lilsite .tile-1 .img-tile {
			background: url("websites/lilsite/img/pd/t1.png") #000 center no-repeat;
			background-size: cover;
		}

		#lilsite .img-tile.tile-2, #lilsite .tile-2 .img-tile {
			background: url("websites/lilsite/img/pd/t2.png") #111 center no-repeat;
			background-size: cover;
		}

		#lilsite .img-tile.tile-3, #lilsite .tile-3 .img-tile {
			background: url("websites/lilsite/img/pd/t3.png") center no-repeat;
			background-size: cover;
		}

		#lilsite .img-tile.tile-4, #lilsite .tile-4 .img-tile {
			background: url("websites/lilsite/img/pd/t4.png") #000 center no-repeat;
			background-size: cover;
		}

		#lilsite .img-tile.tile-5, #lilsite .tile-5 .img-tile {
			background: url("websites/lilsite/img/pd/t5.png") center no-repeat;
			background-size: cover;
		}

		#lilsite .img-tile.tile-6, #lilsite .tile-6 .img-tile {
			background: url("websites/lilsite/img/pd/t6.png") #111 center no-repeat;
			background-size: cover;
		}

		#lilsite .img-tile.tile-7, #lilsite .tile-7 .img-tile {
			background: url("websites/lilsite/img/pd/t7.png") #111 center no-repeat;
			background-size: cover;
		}

		#lilsite .img-tile.tile-8, #lilsite .tile-8 .img-tile {
			background: url("websites/lilsite/img/pd/t8.png") #111 center no-repeat;
			background-size: cover;
		}

		#lilsite .img-tile.tile-9, #lilsite .tile-9 .img-tile {
			background: url("websites/lilsite/img/pd/t9.png") center no-repeat;
			background-size: cover;
		}

	/*dollarama*/

		#dollarama .img-tile.tile-1, #dollarama .tile-1 .img-tile {
			background: url("websites/dollarama/img/pd/t1.png") #121318 center no-repeat;
			background-size: cover;
		}

		#dollarama .img-tile.tile-2, #dollarama .tile-2 .img-tile {
			background: url("websites/dollarama/img/pd/t2.png") center no-repeat;
			background-size: cover;
		}

		#dollarama .img-tile.tile-3, #dollarama .tile-3 .img-tile {
			background: url("websites/dollarama/img/pd/t3.png") center no-repeat;
			background-size: cover;
		}

		#dollarama .img-tile.tile-4, #dollarama .tile-4 .img-tile {
			background: url("websites/dollarama/img/pd/t4.png") #121318 center no-repeat;
			background-size: cover;
		}

		#dollarama .img-tile.tile-5, #dollarama .tile-5 .img-tile {
			background: url("websites/dollarama/img/pd/t5.png") center no-repeat;
			background-size: cover;
		}

		#dollarama .img-tile.tile-6, #dollarama .tile-6 .img-tile {
			background: url("websites/dollarama/img/pd/t6.png") #121318 center no-repeat;
			background-size: cover;
		}

		#dollarama .img-tile.tile-7, #dollarama .tile-7 .img-tile {
			background: url("websites/dollarama/img/pd/t7.png") center no-repeat;
			background-size: cover;
		}

		#dollarama .img-tile.tile-8, #dollarama .tile-8 .img-tile {
			background: url("websites/dollarama/img/pd/t8.png") #121318 center no-repeat;
			background-size: cover;
		}

		#dollarama .img-tile.tile-9, #dollarama .tile-9 .img-tile {
			background: url("websites/dollarama/img/pd/t9.png") center no-repeat;
			background-size: cover;
		}

	/*archive*/

		#archive .img-tile.tile-1, #archive .tile-1 .img-tile {
			background: url("img/archive/1.png")  center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-2, #archive .tile-2 .img-tile {
			background: url("img/archive/2.png") center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-3, #archive .tile-3 .img-tile {
			background: url("img/archive/3.png") center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-4, #archive .tile-4 .img-tile {
			background: url("img/archive/4.png")  center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-5, #archive .tile-5 .img-tile {
			background: url("img/archive/5.png") center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-6, #archive .tile-6 .img-tile {
			background: url("img/archive/6.png")  center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-7, #archive .tile-7 .img-tile {
			background: url("img/archive/7.png") center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-8, #archive .tile-8 .img-tile {
			background: url("img/archive/8.png")  center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-9, #archive .tile-9 .img-tile {
			background: url("img/archive/9.png") center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-10, #archive .tile-10 .img-tile {
			background: url("img/archive/10.png") center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-11, #archive .tile-11 .img-tile {
			background: url("img/archive/11.png")  center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-12, #archive .tile-12 .img-tile {
			background: url("img/archive/12.png") center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-13, #archive .tile-13 .img-tile {
			background: url("img/archive/13.png") center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-14, #archive .tile-14 .img-tile {
			background: url("img/archive/14.png")  center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-15, #archive .tile-15 .img-tile {
			background: url("img/archive/15.png") center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-16, #archive .tile-16 .img-tile {
			background: url("img/archive/16.png")  center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-17, #archive .tile-17 .img-tile {
			background: url("img/archive/17.png") center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-18, #archive .tile-18 .img-tile {
			background: url("img/archive/18.png")  center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-19, #archive .tile-19 .img-tile {
			background: url("img/archive/19.png") center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-20, #archive .tile-20 .img-tile {
			background: url("img/archive/20.png") center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-20, #archive .tile-20 .img-tile {
			background: url("img/archive/20.png") center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-21, #archive .tile-21 .img-tile {
			background: url("img/archive/21.png")  center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-22, #archive .tile-22 .img-tile {
			background: url("img/archive/22.png") center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-23, #archive .tile-23 .img-tile {
			background: url("img/archive/23.png") center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-24, #archive .tile-24 .img-tile {
			background: url("img/archive/24.png")  center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-25, #archive .tile-25 .img-tile {
			background: url("img/archive/25.png") center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-26, #archive .tile-26 .img-tile {
			background: url("img/archive/26.png")  center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-27, #archive .tile-27 .img-tile {
			background: url("img/archive/27.png") center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-28, #archive .tile-28 .img-tile {
			background: url("img/archive/28.png")  center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-29, #archive .tile-29 .img-tile {
			background: url("img/archive/29.png") center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-30, #archive .tile-30 .img-tile {
			background: url("img/archive/30.png") center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-31, #archive .tile-31 .img-tile {
			background: url("img/archive/31.png")  center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-32, #archive .tile-32 .img-tile {
			background: url("img/archive/32.png") center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-33, #archive .tile-33 .img-tile {
			background: url("img/archive/33.png") center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-34, #archive .tile-34 .img-tile {
			background: url("img/archive/34.png")  center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-35, #archive .tile-35 .img-tile {
			background: url("img/archive/35.png") center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-36, #archive .tile-36 .img-tile {
			background: url("img/archive/36.png")  center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-37, #archive .tile-37 .img-tile {
			background: url("img/archive/37.png") center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-38, #archive .tile-38 .img-tile {
			background: url("img/archive/38.png")  center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-39, #archive .tile-39 .img-tile {
			background: url("img/archive/39.png") center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-40, #archive .tile-40 .img-tile {
			background: url("img/archive/40.png") center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-41, #archive .tile-41 .img-tile {
			background: url("img/archive/41.png")  center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-42, #archive .tile-42 .img-tile {
			background: url("img/archive/42.png") center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-43, #archive .tile-43 .img-tile {
			background: url("img/archive/43.png") center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-44, #archive .tile-44 .img-tile {
			background: url("img/archive/10.png")  center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-45, #archive .tile-45 .img-tile {
			background: url("img/archive/45.png") center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-46, #archive .tile-46 .img-tile {
			background: url("img/archive/46.png")  center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-47, #archive .tile-47 .img-tile {
			background: url("img/archive/12.png") center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-48, #archive .tile-48 .img-tile {
			background: url("img/archive/48.png")  center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-49, #archive .tile-49 .img-tile {
			background: url("websites/dollarama/img/pd/t8alt.png") center no-repeat;
			background-size: cover;
		}

		/*#archive .img-tile.tile-50, #archive .tile-50 .img-tile {
			background: url("websites/watchparty/assets/pd/t1.png") center no-repeat;
			background-size: cover;
		}*/

		#archive .img-tile.tile-51, #archive .tile-51 .img-tile {
			background: url("websites/lilsite/img/pd/t4.png") #000 center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-52, #archive .tile-52 .img-tile {
			background: url("websites/lilsite/img/pd/t7alt.png") center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-53, #archive .tile-53 .img-tile {
			background: url("websites/lilsite/img/pd/t5.png") center no-repeat;
			background-size: cover;
		}

		#archive .img-tile.tile-54, #archive .tile-54 .img-tile {
			background: url("websites/dollarama/img/pd/t5.png") center no-repeat;
			background-size: cover;
		}

	/*old*/

		.proj-img-grid img {
			width: 100%;
		}

		.proj-img-grid div {
			float: left;
		}
		
		.col-33 {
			width: 33.3333%;
		}

		.col-66 {
			width: 66.6666%;
		}

/*project details page*/

	.project-details-page .center-text {
		margin-top: 30px;
	}

	/*.project-details-page a.fill {
		margin-top: 50px; 
		
	}*/

	.project-details-page .container {
		padding:0 30px;
	}

	.project-details-page .text h1 {
		margin: 10px 0;
	}

	.project-details-page .nav {
		position: fixed;
	}
	
	.project-details-page .text, .project-details-page .info {
		position: relative;
		padding: 0;
		top: auto;
		-moz-transform: none;
		-webkit-transform: none;
		-o-transform: none;
		-ms-transform: none;
		transform: none;
		max-width: 100%;
	}
	
	.project-details-page .text {
		padding-top: 100px;
	}

	.project-details-page .info {
		padding: 60px 0 80px;
	}

	.item {
		width: 50%;
		float: left;
	}

/*footer*/

	.project-link {
		position: relative;
		text-align: center;
		padding: 100px 50px;
		margin-top: 100px;
	}

	.hover-fade {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #000;
		border-top: 2px solid rgba(255,255,255,0.1);
		opacity: 0.8;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.view-project, .next-project {
		position: relative;
		overflow: hidden;
	}

	.view-project:hover .hover-fade, .next-project:hover .hover-fade {
		opacity: 0.5;
	}

	.footer  {
		margin-top: 120px;
	}

	.footer h1 {
		margin: 0;
	}

	/*.view-project {
		position: relative;
		border-radius: 10px;
		overflow: hidden;
	}*/

	.footer .deviceimg {
		left: 70%;
		top: 70%;
		transform: translate(-40%,-40%);
		transition: 0.5s all ease;
	}

	.footer:hover .deviceimg {
		transform: translate(-40%,-40%) scale(1.1);
	}

	/*dollarama*/

		#dollarama .next-project {
			background: url("img/lilsitebanner.png") center;
			background-size: cover;
		}

		#dollarama .footer .deviceimg {
			background: url("img/lilsitedevice.png") center;
			background-size: cover;
		}

	/*watchparty*/

		#watchparty .next-project {
			background: url("img/lilsitebanner.png") center;
			background-size: cover;
		}

		#watchparty .footer .deviceimg {
			background: url("img/lilsitedevice.png") center;
			background-size: cover;
		}

	/*lilsite*/

		#lilsite .next-project {
			background: url("img/archivebanner.png") center;
			background-size: cover;
		}

		#lilsite .footer .deviceimg {
			background: url("img/archivedevice.png") center;
			background-size: cover;
		}

	/*archive & about me*/

		#archive .next-project {
			background: url("img/dollaramabanner.png") center;
			background-size: cover;
		}

		#archive .footer .deviceimg {
			background: url("img/dollaramadevice.png") center;
			background-size: cover;
		}

		#aboutme .next-project {
			background: url("img/archivebanner.png") center;
			background-size: cover;
		}

		#aboutme .footer .deviceimg {
			background: url("img/archivedevice.png") center;
			background-size: cover;

		}

/*mobile*/

	@media only screen and (max-width: 1500px) {

		.project-details-page .info {
		    padding: 0;
		}

		.project-details-page .text h1 {
			margin-top: 50px;
		}
		
		.container, .text {
			padding: 0 20px;
		}

		.project-details-page .text {
			padding-top: 1px;
		}

		.info {
			padding: 30px;
		}

		.nav-btn {
			margin: 20px 0;
		}

		.nav-btn span {
			width: 10px;
		}

		.nav {
			width: 100%;
			max-width: 40px;
		}

	}


	@media only screen and (max-width: 950px) {

		.sorting-group {
			width: 950px;
		}

		.sorting-group span {
			font-size: 14px;
			margin: 5px 1px;
		}
	}


	@media only screen and (max-width: 1025px) {

		.text .name {
			display: none;
		}

		/*#home .project a.fill {
			color: #000;
			border: 2px solid #111;
		}

		#about {
			color: #000;
		}*/

		h1 {
			font-size: 3em;
		}

		.project#about::after {
		    background: #000;
		}

		.mob-bg {
			display: block;
			height: 30%;
		}

		.deviceimg-container {
    		left: auto;
		    top: auto;
		    right: 55%;
		    bottom: 30%;
		    transform: none;
		}

		#about .deviceimg-container {
			pointer-events: none;
    		left: auto;
		    top: auto;
		    right: 45%;
		    bottom: 30%;
		    transform: none;
		}

		.sort {
			overflow-x: scroll;
		}

		.img-tiles {
			text-align: center;
			padding: 0 15px;
		}

		.img-tile {
			width: 29%;
			padding-top: 29%;
			margin: 0.7%;
		}

		#aboutme .img-tiles .img-tile, #dollarama .img-tiles .img-tile, #watchparty .img-tiles .img-tile, #lilsite .img-tiles .img-tile {
			width: 30%;
			padding-top: 30%;
			margin: 0.3% 0.7%;
		}

		.project-link {
			position: relative;
			text-align: center;
			padding: 35px 15px 60px;
			margin-top: 40px;
		}

		.project-details-page .info {
			padding: 0 0 40px;
		}

		#home .project {
			text-align: center;
		}

	  #home .text {
	  	left:50%;
	  	top: 80px;
		transform: translate(-50%, 0%);
	    width: 100%;
	  }

		/*#home .text p {
		   max-width: 100%;
		}*/
		
	  .project {
	  	background-position: 80% 20% !important;
	  }

	  /*.darkoverlay {
	  	opacity: 1;
	  	background: -moz-linear-gradient(top,  rgba(0,0,0,0.75) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.75) 100%);
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 75%,rgba(0,0,0,0.75) 100%);
		background: linear-gradient(to bottom,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 75%,rgba(0,0,0,0.75) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#bf000000',GradientType=0 );

	  }*/

	  .col-33, .col-66 {
	  	width: 100%;
	  }
	  .col-33 img {
	  	width: 50%;
	  }

	}

	@media only screen and (max-width: 770px) {

		#home .text {
		  	left:50%;
		  	top: 40px;
			transform: translate(-50%, 0%);
		    width: 100%;
		  }

		.mob-bg {
			height: 40%;
		}

		#home .text {
			max-width: 100%;
		}

		#home .text a  {
		    font-size: 18px;
		}

		#home .text p {
		    font-size: 18px;
		    margin: 25px 0;
		   max-width: 100%;
		}

		.deviceimg-container {
		    right: auto;
		    left: 0;
		    transform: translateX(-52%); 
		    bottom: 20%;
		}

		#about .deviceimg-container {
		    right: auto;
		    left: 48%;
		    transform: translateX(-50%); 
		    bottom: 30%;
		}

		.deviceimg {
		   width: 802px;
    		height: 658px;
		}
		#about .deviceimg {
		    width: 520px;
    		height: 666px;
		} 

		.modal-content {
			border-radius: 0;
		}

	  .item {
	  	width: 100%;
	  	margin-top: 0 !important; 
	  }

	  /*#bts {
	  	margin-top: 80px;
	  }*/

	  .info{
	    flex-direction: column;
	  }

	  .info .col {
	  	padding-right: 0;
	  	padding-top: 5px;
	  	/*font-size: 14px;*/
	  }
	  .col-33 img {
	  	width: 100%;
	  }
		
		h1 {
			font-size: 44px;
		}

	}

	@media only screen and (max-width: 500px) {

		

		#about .deviceimg-container {
		    right: 25%;
		    bottom: 21.5%;
		}


		#home .info .col {
			text-align: right;
		}
		
		h1 {
			font-size: 30px;
		}

	}

	@media only screen and (max-width: 374px) {
		
		h1 {
			font-size: 24px;
		}

		.darkoverlay {
	  		opacity: 1;
	  		
			background: -moz-linear-gradient(top,  rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.4) 25%, rgba(0,0,0,0.4) 75%, rgba(0,0,0,0.75) 100%);
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.4) 25%,rgba(0,0,0,0.4) 75%,rgba(0,0,0,0.75) 100%);
			background: linear-gradient(to bottom,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.4) 25%,rgba(0,0,0,0.4) 75%,rgba(0,0,0,0.75) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#bf000000',GradientType=0 );
	  	}
	  	.deviceimg-container {
		    bottom: 10%;
		}

		#about .deviceimg-container {
			z-index: -1;
		    bottom: 10%;
		}

		#about {
			color: #fff;
		}

		.text {
			padding: 0 15px;
	  	top: 20px;
	  }

		#home .text p {
		    font-size: 16px;
		    margin: 15px 0;
		   max-width: 100%;
		}

		/*#home .text a  {
		    font-size: 14px;
		}*/
		/*#home .project a.fill  {
		    background: #78FFF4;
		    border: none;
		}*/

	}

	@media only screen and (max-height: 500px) {
		.darkoverlay {
	  		opacity: 1;
	  		
			background: rgba(0,0,0,0.8);
	  	}
	}

	@media only screen and (max-height: 670px) {

		#about .deviceimg-container {
		    bottom: 10%;
		}
		.deviceimg-container {
		    bottom: 15%;
		}

	}

	/*@media only screen and (min-width: 900px) {

		::-webkit-scrollbar {
		  width: 7px;
		  height: 7px; 
		}

		::-webkit-scrollbar-track {
		  background: rgba(119, 119, 119, 0.3); 
		}
		 
		::-webkit-scrollbar-thumb {
		  background: #777; 
		}

		::-webkit-scrollbar-thumb:hover {
		  background: #fff; 
		}
	}*/

